<table>
  <% @comments.each do |comment| %>
    <tr>
      <th align="left"><%= user_name_or_email(comment) %></th>
      <th><%= l comment.updated_at, format: :long %></th>
    </tr>
    <tr>
      <td><%= simple_format(comment.comment_contents) %></td>
      <td><%= link_to t('views.common.destroy'), [commentable, comment], method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
    </tr>
  <% end %>
</table>
